In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Data Description

In [3]:
df =  pd.read_excel('final.xlsx')

In [4]:
df.head()

,Unnamed: 0,Tweets,User,User_statuses_count,user_followers,User_location,User_verified,fav_count,rt_count,tweet_date
0,0,The farmers have also demanded the creation of...,Jimmy Kahlon,17649,334,NaN,False,0,0,2021-05-02 03:14:22
1,1,"MSP is right of Farmers ,Agri sector has the a...",ςααɕհ,18490,124,NaN,False,0,0,2021-05-02 03:06:46
2,2,The farmers have also demanded the creation of...,Harbir Virk,18901,189,NaN,False,0,0,2021-05-02 03:04:12
3,3,The farmers have also demanded the creation of...,MG,4312,102,Planet Earth,False,0,0,2021-05-02 03:03:06
4,4,@UshaNirmala Same is the case with anything re...,sanjay singh,11216,1327,NaN,False,0,0,2021-05-02 02:56:35

In [5]:
#information about the Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15174 entries, 0 to 15173
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           15174 non-null  int64
 1   Tweets               15174 non-null  object
 2   User                 15173 non-null  object
 3   User_statuses_count  15174 non-null  int64
 4   user_followers       15174 non-null  int64
 5   User_location        10878 non-null  object
 6   User_verified        15174 non-null  bool
 7   fav_count            15174 non-null  int64
 8   rt_count             15174 non-null  int64
 9   tweet_date           15174 non-null  datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(5), object(3)
memory usage: 1.1+ MB

from above, we see there are some null value present in the columns User_loccation. And there is 10 columns in which unname 0 unwanted column.

In [7]:
#dropping unwanted columns from dataframe
df = df.drop('Unnamed: 0',axis=1)

In [8]:
df.head()

,Tweets,User,User_statuses_count,user_followers,User_location,User_verified,fav_count,rt_count,tweet_date
0,The farmers have also demanded the creation of...,Jimmy Kahlon,17649,334,NaN,False,0,0,2021-05-02 03:14:22
1,"MSP is right of Farmers ,Agri sector has the a...",ςααɕհ,18490,124,NaN,False,0,0,2021-05-02 03:06:46
2,The farmers have also demanded the creation of...,Harbir Virk,18901,189,NaN,False,0,0,2021-05-02 03:04:12
3,The farmers have also demanded the creation of...,MG,4312,102,Planet Earth,False,0,0,2021-05-02 03:03:06
4,@UshaNirmala Same is the case with anything re...,sanjay singh,11216,1327,NaN,False,0,0,2021-05-02 02:56:35

In [10]:
#columns in dataframes
df.columns

Index(['Tweets', 'User', 'User_statuses_count', 'user_followers',
       'User_location', 'User_verified', 'fav_count', 'rt_count',
       'tweet_date'],
      dtype='object')

In [17]:
#Number of Duplicated in data
print('Number of  duplicates tweets in dataframe:- ',df['Tweets'].duplicated().sum())

Number of  duplicates tweets in dataframe:-  0

In [15]:
#info of retweet 
df['rt_count'].describe()

count    15174.000000
mean         5.776064
std         73.996573
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max       4707.000000
Name: rt_count, dtype: float64

In [18]:
#number verified and non verified Users in dataframe
df['User_verified'].value_counts()

False    13688
True      1486
Name: User_verified, dtype: int64

In [21]:
print(df['User_location'].describe())
print('Null Location:-',df['User_location'].isnull().sum())

count     10878
unique     3240
top       India
freq       1195
Name: User_location, dtype: object
Null Location:- 4296

From above, we see there is frequently tweets tweet from the india. and there are 3240 unique location in dataframe.

In [20]:
print("Top 20 Location where frequently Tweets comes:-")
df['User_location'].value_counts()[:20]

Top 20 Location where frequently Tweets comes:-

India                       1195
New Delhi, India             417
Mumbai, India                350
Mumbai                       245
Bengaluru, India             210
New Delhi                    173
Hyderabad, India             138
Pune, India                  120
Chennai, India               113
Bangalore                     79
Jammu And Kashmir             75
Chennai                       75
Bhubaneshwar, India           62
Jammu, Jammu And Kashmir      61
Kolkata, India                60
Delhi                         57
Chandigarh, India             52
Bhubaneswar                   51
Pune                          50
Bharat                        43
Name: User_location, dtype: int64

from above, we clearly see most of the Tweets related to covid19 comes from india.