In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df = pd.read_excel('data.xlsx')

In [ ]:
print(df.head())

In [ ]:
df.info()

In [ ]:
df = df.drop('Unnamed: 0', axis=1)

In [ ]:
print(df.columns)

In [ ]:
duplicates = df['Tweets'].duplicated().sum()

In [ ]:
print(f'Number of duplicate tweets: {duplicates}')