In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_excel('final.xlsx')

In [ ]:
print(df.head())

In [ ]:
df.info()

In [ ]:
df = df.drop('Unnamed: 0', axis=1)

In [ ]:
print(df.head())

In [ ]:
print(df.columns)

In [ ]:
duplicates = df['Tweets'].duplicated().sum()

In [ ]:
print('Number of duplicates tweets in DataFrame:- ', duplicates)

In [ ]:
print(df['rt_count'].describe())

In [ ]:
print(df['User_verified'].value_counts())

In [ ]:
print(df['User_location'].describe())

In [ ]:
null_locations = df['User_location'].isnull().sum()

In [ ]:
print('Null Locations:', null_locations)

In [ ]:
print(df['User_location'].value_counts()[:20])